.wrapper__messageinput {
    display: block;
    position: fixed;
    bottom: 0;
    padding-bottom: 10px;
    overflow: hidden;
    transition: all 0.2s;
    background-color: white;
}

.btn {
    width: 100%;
}
